
@{
    ViewData["Title"] = "Success";
}
<h1>You hace successfully added a car to showroom!</h1>
<div>
    <a asp-action="Create">Create a new car</a>
</div>
<div>
    <a asp-action="Index">List all cars</a>
</div>